 
{% extends '::base.html.twig' %}
{% block title %}Login{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{asset('assets/css/main.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/login.css')}}">
{% endblock %}

{% block body  %}

  	<div class="wrapper">
    	<form class="form-signin" action="{{path('login')}}" method="POST">

            {% if error %}
	            <div class="alert alert-danger alert-dismissible">
	                <p style="text-center"><strong>Credenciales Inválidas </strong></p>
	            </div>
            {% endif %}

      		<h2 class="form-signin-heading">Please login</h2>
      		<input class="form-control" type="text" id="username" name="_username" value="{{last_username}}" placeholder="Username" required="" autofocus="" />
      		<input class="form-control" type="password" id="password" name="_password" placeholder="Password" required=""/>      
	      	<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>   
    	</form>
  </div>

{% endblock %}